#content p a:hover, #copyright section article a:hover
	{
		border-bottom: 1px solid hsla(0,0%,0%,1);
	}

#copyright section
	{
		transition: ease-in-out 500ms;
		-o-transition: ease-in-out 500ms;
		-ms-transition: ease-in-out 500ms;
		-moz-transition: ease-in-out 500ms;
		-webkit-transition: ease-in-out 500ms;
	}

#github
	{
		transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}

#github a
	{
		transition: ease-in-out 500ms;
		-o-transition: ease-in-out 500ms;
		-ms-transition: ease-in-out 500ms;
		-moz-transition: ease-in-out 500ms;
		-webkit-transition: ease-in-out 500ms;
	}
