body {
  background: hsl(0,0%,100%);
  color: hsl(0,0%,50%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  & > section, footer {
    margin: 0 auto;
    width: 1024px;
  }
}
a {
  color: hsl(0,0%,0%);
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid hsl(0,0%,0%);
  }
}
h1, p {
  line-height: 1.25em;
  margin: 1em 0;
}
h1 {
  font-size: 75px;
}
p {
  font-size: 20px;
}
header {
  small {
    position: fixed;
    right: 5px;
    text-align: right;
    top: 5px;
    article {
      margin-bottom: 2px;
      &:nth-of-type(1) {
        color: hsl(205,100%,40%);
        img {
          margin-right: 5px;
        }
      }
      &:nth-of-type(2) {
        color: hsl(0,0%,27%);
        font-weight: bold;
      }
      &:nth-of-type(3) {
        color: hsl(228,2%,51%);
        img {
          margin: 0 2px 2px 2px;
        }
      }
    }
  }
  section {
    background: hsl(0,0%,50%);
    font-size: larger;
    font-weight: bolder;
    height: 30px;
    line-height: 28px;
    overflow: hidden;
    position: fixed;
    right: -60px;
    text-align: center;
    top: 65px;
    width: 275px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    a {
      color: hsl(0,0%,100%);
      &:hover {
        border-bottom: none;
      }
    }
  }
}