---
title: posts
---

<article>
  <h1><a href="/">..</a>/Posts</h1>
  <p>I have had the privilege to explore other forms of creative expression in addition to music. Below are links to <a href="#articles">articles</a>, <a href="#photos">photos</a>, <a href="#sermons">sermons</a>, and <a href="#videos">videos</a> that I have posted over the years. Updates are generally infrequent, limited by free time.</p>
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
    <h2 id="{{ category[0] }}">{{ category[0] }}</h2>
    <ul>
      {% for post in category[1] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</article>
