html {
  font-size: 62.5%;
}
body {
  background: hsl(0,0%,98%);
  color: hsl(0,0%,30%);
  font-family: "Source Code Pro", monospace;
  text-transform: lowercase;
}
header, article, footer {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 80rem;
  padding: 1rem 4rem;
}
article {
  background: hsl(0,0%,100%);
}
h1, h2, h3, p, blockquote, ol, ul {
  font-size: 1.5rem;
  letter-spacing: .025rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}
h1, h2, h3 {
  font-weight: bold;
}
h2:before {
  content: "## ";
}
p, blockquote, ol, ul {
  color: hsl(0, 0%, 60%);
}
blockquote, ol, ul {
  margin-left: 5rem;
}
blockquote:before {
  content: ">";
  position: absolute;
  margin-left: -2.75rem;
}
ol {
  list-style: decimal;
}
ul {
  list-style: none;
}
nav ul {
  margin-left: 0;
}
nav li {
  display: inline-block;
  margin: 0 1rem;
}
article ul li:before {
  content: "-";
  position: absolute;
  margin-left: -2.75rem;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
em:before, em:after {
  content: "_";
}
a {
  color: hsl(200,50%,60%);
  text-decoration: none;
}
small {
  font-size: smaller;
}
audio, img, video {
  width: 100%;
}
.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear:after {
  clear: both;
  content: "";
  display: table;
}
.avatar {
  border-radius: 50%;
  display: initial;
  margin: 2rem 0 1rem;
  width: 10rem;
}
.banner {
  display: block;
  margin: 0 auto;
  max-width: 80rem;
}
.meta {
  margin: 2rem 0;
}
.meta h1, .meta p {
  margin: 0;
}
@media all and (max-width: 800px) {
  .meta .left, .meta .right {
    float: none;
  }
}
