<!doctype html>
<html lang="en">
  <head>
    <title>mattratleph.com - {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Matt Ratleph">
    <meta name="description" content="Portfolio of Matt Ratleph: christian, minimalist, hacker, and creator.">
    <meta name="keywords" content="portfolio, robert, matthew, matt, ratleph, christian, minimalist, hacker, creator, tumblr, bandbamp, github, ambient, downtempo, trip hop, sermon, wheaton, illinois">
    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  </head>
  <body>
    <header>
      {% include navigation.html %}
    </header>
    <section>
      {{ content }}
    </section>
    <footer class="center">
      <p><small><a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0, No Rights Reserved</a></small></p>
    </footer>
  </body>
</html>
